*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
:root{
    --primary: #141922;
    --dark: #000000;
    --light_dark:#080b12;
    --light: #ffffff;
    --footer: #282828;
    --lightgrey: #a3a3a3;
    --details: #b5f62f;
}

.flex{
    display: flex;
}

ul{
    list-style: none;
}

.no_dec{
    text-decoration: none;
}

.conteiner{
    max-width: 1152px;
    width: 80%;
    margin: auto;
}
/*Debug*/
#app_footer{
    background-color: var(--footer);
}

.side-top, .side-bottom{
    border: 1px dashed red;
    height: 50%;
}

#app_footer .left,
#app_footer .center,
#app_footer .right{
    border: 1px solid blue;
}


/*Responsive*/ 
@media screen and (min-width: 480px) {
 
}

@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 1100px) {

}

/*Top*/
.top{
    height: calc(100vh - 70px);
    background-color: var(--primary);
}

/*Sidebar*/

.sidebar{
    width:50px;
    background-color: var(--dark);
    
}

/*Content*/

.upgrade{
    height: 80px;
    text-align: end;
    background-color: var(--light_dark);
    padding: 1.5rem 0.3rem;
}

.upgrade .btn{
    padding: 0.5rem 2rem;
    background-color: var(--light_dark);
    color: var(--light);
    text-transform: uppercase;
    border: 1px solid var(--light);
    border-radius: 2rem;
    
}

.content{
    width: calc(100% - 50px);
}
 
.content nav ul{
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center
}

.content nav li{
    padding: 1rem 0;
    margin:0 1rem;
    text-transform: uppercase;
    font-size: 12px;
}

.content nav li a {
    color: var(--lightgrey);
}
/*Footer*/

#app_footer{
    height: 70px;
}


#app_footer .left,
#app_footer .center,
#app_footer .right{
    width: calc(100% / 12 * 4);
}
