*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #141922;
    --dark: #000000;
    --light: #ffffff;
    --footer: #282828;
    --lightgrey: #a3a3a3;
    --details: #b5f62f;
}

.flex{
    display: flex;
}

ul{
    list-style: none;
}
/*Debug*/

.top{
    background-color: coral;
}

#app_footer{
    background-color: var(--footer);
}

.sidebar{
    background-color: aquamarine;
}

.upgrade{
    background-color: crimson;
}

.side-top, .side-bottom{
    border: 1px dashed red;
    height: 50%;
}

#app_footer .left,
#app_footer .center,
#app_footer .right{
    border: 1px solid blue;
}


/*Responsive*/ 

@media screen and (min-width: 480px) {
    
}
@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1100px) {
    
    
}

/*Top*/
.top{
    height: calc(100vh - 70px);
}

/*Sidebar*/

.sidebar{
    width:70px;
}
    

/*Content*/

.upgrade{
    height: 50px;
    text-align: end;
}
    
.content{
    width: calc(100% - 50px);
}
 
.content nav ul{
    flex-wrap: wrap;
    justify-content: center;
}

.content nav li{
    margin-left: 5rem;
}
/*Footer*/

#app_footer{
    height: 70px;
}


#app_footer .left,
#app_footer .center,
#app_footer .right{
    width: calc(100% / 12 * 4);
}
